/* FONTC
main: font-family: 'Open Sans', sans-serif;
	light 300
	light 300 Italic
	regular 400
	regular 400 Italic
	semi-bold 600
	semi-bold 600 Italic
	bold 700
	bold 700 Italic
	extra-bold 800
	extra-bold 800 Italic
*/


* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container-fluid {
	padding: 0;
	margin: 0px;
}

article {
	width: 100%;
}

.greyBlockPane {
	background: url('images/greyStripes.jpg') repeat;
	color: white;
	text-align: center;
	padding: 170px 0 170px 0;
}

p {
	line-height: 130%;
}

h1 {
	font-size: 2.25em;
	font-weight: 700;
}

h2.greyBlock {
	font-size: 3em;
	font-weight: 700;
}

.greyBlockPane>p {
	font-size: 1.5em;
	line-height: 250%;
}

.wrapper {
	width: 70%;
	margin: auto;
}

h2.normal {
	font-size: 1.875em;
	font-weight: 700;
}

h2.normal+p{
	font-size: 1.125em;
	font-weight: 700;
	margin: 18px 0 18px 0;
}


.bttnRed {
	width: 145px;
	height: 55px;
	border: none;
	border-radius: 5px;
	outline: none;
	color: white;
	background-color: #ed4d4b;
	position: relative;
	font-size: 1.125em;
}

.bttnRed:active {
	top: 1px;
	left: 1px;
}

.flexContaninerRow {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.flexVerticalMiddleRow {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*  ----------------- HEADER ----------------- */
header {
	background-color: #0d0b11;
	padding:10px;
	color: white;
}

.navbar {
	background-color: transparent;
	border: none;
}

.container-fluid>.navbar-header {
	margin: 0;
}

@media screen and (min-width:768px){
	.navbar-collapse {
		float: right;
	}	
}
@media screen and (max-width:450px){
.navbar-brand {
	width: 150px;
}
}

.navbar-default .navbar-nav>li>a {
	border-top: 2px solid transparent;
	transition: 1s;
	font-size: 0.875em;
}

.navbar-default .navbar-nav>li>a:hover {
	border-top: 2px solid #ed4d4b;
}

header .flexContaninerRow {
	padding-top: 50px;
	padding-bottom: 25px;
}

.flexContaninerRow div {
	margin-bottom: 25px;
}

header h1 {
	margin: 0 0 40px 0;
}

header p {
	font-size: 1.5em;
	margin-bottom: 60px;
}


/* --------------------- MAIN --------------*/
/* ----- services ----------*/
.services {
	background-color: #475a85;
	color: white;
	text-align: center;
	padding: 100px 0 70px 0;
}

.separator {
	max-width: 280px;
	margin: auto;
	padding: 5px 0 70px 0;
}

.separator>.line {
	max-width: 280px
	height:1px;
	border-top: 1px solid white;
	position: relative;
}

.separator>.line::before {
	content: '';
	width: 13px;
	height: 13px;
	border-radius: 13px;
	background-color: white;
	position: absolute;
	top: -7px;
	left: -2%;
}

.separator>.line::after {
	content: '';
	width: 13px;
	height: 13px;
	border-radius: 13px;
	background-color: white;
	position: absolute;
	top: -7px;
	left: 98%;
}

.imgContainer {
	height: 65px;
	max-width: 50px;
	text-align: center;
	margin: auto;
	margin-top: 30px;
}

.imgContainer>.img {
	width: 100%;
	height: auto;
}

.imgContainer+p {
	font-size: 1.125em;
	font-weight: 700;
}

.hiddenTxt {
	font-size: 0.875em;
	font-weight: 400;
	height: 55px;
	margin: auto;
	overflow: hidden;
}

.revealedTxt {
	height: auto;
	overflow: visible;
}

button.small {
	width: 88px;
	height: 33px;
	font-size: 0.69em;
	margin: 30px 0 30px 0;
}


/* ----- portfolio ----------*/
.portfolio {
	text-align: center;
	padding: 80px 0 80px 0;
}

.portfolio .separator>.line {
	border-color: black;
}

.portfolio .separator>.line::before,
.portfolio .separator>.line::after {
	background-color: black;
}

#filter {
	color: #323232;
	margin-bottom: 45px;
}

#filter>span {
	color: #a7a7a7;
	cursor: pointer;
}

#filter>span.active {
	color: #323232;
}

.portfolio figure {
	position: relative;
	text-align: center;
	margin-bottom: 35px;
}

.portfolio figure>img {
	z-index: -2;
}

.portfolio figure>img {
	filter: hue-rotate(90deg); /*this is only exemplary effect*/
}

.portfolio figcaption {
	max-width: 365px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 10%
}

.figureHeading {
	font-size: 1.5em;
	font-weight: 700;
}

.figureDescription {
	font-size: 0.875em;
	height: 70px;
	overflow: hidden;
}

figcaption>a>img {
	width: 40px;
	height: auto;
	margin:auto;
	cursor: pointer;
}

